<h1>Elenco Animali</h1>
<p *ngFor="let animale of animali">{{animale.infoAnimale()}}</p>

<h1>Elenco Utenti</h1>
<p *ngFor="let utente of utenti">{{utente.infoUtenti()}}</p>

<h1>Elenco Auto</h1>
<p *ngFor="let auto of autos">{{auto.infoAuto()}}</p>

<h1>Elenco Apparecchi</h1>
<p *ngFor="let apparecchio of apparecchi">{{apparecchio.infoApparecchio()}}</p>

<h1>Elenco Impiegati</h1>
<p *ngFor="let impiegato of impiegati">{{impiegato.infoImpiegato()}}</p>

<h1>Elenco Aziende</h1>
<p *ngFor="let azienda of aziende">{{azienda.infoAzienda()}}</p>

<h1>Elenco Giocatori</h1>
<p *ngFor="let giocatore of giocatori">{{giocatore.infoGiocatori()}}</p>

<h1>Elenco Squadre</h1>
<p *ngFor="let squadra of squadre">{{squadra.infoSquadre()}}</p>


